<!DOCTYPE html>
<html>
  <head>
    <title>SoccerQuiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ponta_1106" />
    <meta property="og:url" content="https://soccer-quiz.herokuapp.com" />
    <meta property="og:title" content="欧州サッカークイズ" />
    <meta property="og:description" content="欧州サッカーガチ勢向けのクイズアプリです。" />
    <meta property="og:image" content="app/javascript/assets/cl_logo.png" />
    <link rel=”icon” href="app/javascript/assets/turtle.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YTX55ZC97L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YTX55ZC97L');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
